

@{
    ViewData["Title"] = "New Task Form Entry";
}

<h2>Enter A New Task:</h2>
<br />

<form>
    <label>Task Name: </label>
    <input /><br />

    <label>Due Date:</label>
    <input /><br />

    <label>Quadrant: </label>
    <select>
        <option>Quadrant 1: Urgent, Important</option>
        <option>Quadrant 2: Not Urgent, Important</option>
        <option>Quadrant 4: Urgent, Not Important</option>
        <option>Quadrant 3: Not Urgent, Not Important</option>
    </select><br />

    <label>Category:</label>
    <select>
        @foreach 
            <option></option>
    </select>
</form>

